html    {
    font-size: 20px;
}
::selection {
    background-color: black;
    color: white;
    text-shadow: 1px 1px  rgba(24, 209, 255, 0.712);
}
main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: relative;
}
main div {
    transform-style: preserve-3d;
}
/* ================pivot point=================== */
.cube {
    flex: 0 1 15rem;
    height:  15rem;
    position: relative;
    overflow: visible;
    transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    animation-name: rotate, slice;
    animation-duration: 30s, 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/* ================faces=================== */
.cube > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border: 0.1rem solid black;
    box-sizing: border-box;
}

.top {
    transform: rotateX(90deg) translateZ(7.5rem);
    background-color: rgb(224, 226, 71);
    background-size: cover;
}
.bottom {
    transform: rotateX(90deg) translateZ(-7.5rem);
    background-color: rgb(40, 175, 58);
    background-size: cover;
}
.right {
    transform: rotateY(90deg) translateZ(7.5rem);
    background-color: rgb(63, 189, 189);
    background-size: cover;
}
.left {
    transform: rotateY(90deg) translateZ(-7.5rem);
    background-color: rgb(69, 56, 187);
    background-size: cover;
}
.back {
    transform: rotateX(0deg) translateZ(-7.5rem);
    background-color: rgb(202, 44, 194);
    background-size: cover;
}
.front {
    transform: rotateX(0deg) translateZ(7.5rem);
    background-color: rgb(206, 50, 84);
    background-size: cover;
}

/* ================animations=================== */
@keyframes rotate {
from{
        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    10% {
        transform: rotateZ(45deg) rotateY(90deg) rotateX(90deg);
    }
    20% {
        transform: rotateZ(75deg) rotateY(145deg) rotateX(45deg);
    }
    30% {
        transform: rotateZ(30deg) rotateY(180deg) rotateX(0deg);
    }
    40% {
        transform: rotateZ(45deg) rotateY(214deg) rotateX(-46deg);
    }
    50% {
        transform: rotateZ(0deg) rotateY(360deg) rotateX(-46deg);
    }
    60% {
        transform: rotateZ(30deg) rotateY(0deg) rotateX(0deg);
    }
    80% {
        transform: rotateZ(30deg) rotateY(360deg) rotateX(360deg);
    }
    100% {
        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
} 


@keyframes slice {
    from, to {
        flex: 0 1 15rem;
        height:  15rem;
    }
    20% {
        flex: 0 1 15rem;
        height:  15rem;
    }
    25% {
        flex: 0 1 10rem;
        height:  10rem;
    }
    35% {
        flex: 0 1 15rem;
        height:  15rem;
    }
}


/* ============================================== */
@media (min-width: 200px) and (max-width: 600px) {
    /* Свойства применяются в пределах от меньшего к большему. */
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
@import url("main.css") (min-width:481px) and (max-width:768px); 
/* импортируем содержимое файла css, который предназначается для устройств с 
разрешением экрана, находящегося в диапозоне от 481 пикселей до 768 пикселей */


/*  320px — 480px: мобильные устройства;
    481px — 768px: планшеты;
    769px — 1024px: маленькие экраны, ноутбуки;
    1025px — 1200px: большие экраны;
    1201px и больше —  очень большие экраны, телевизоры. */


    /* для поддержки старых версий браузера Mozilla */
@-moz-keyframes growElement { 
	/* ключевые кадры */
}

/* для поддержки старых версий браузеров Chrome, Opera, Safari */
@-webkit-keyframes growElement { 
	/* ключевые кадры */
}
/* браузер Internet Explorer. */
@-ms-keyframes growElement { 
	/* ключевые кадры */
}
